.creative {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-image: url('../../img/creative/creative.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 / 6;
  justify-content: center;
}

.creative__block {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.creative__title {
  h2 {
    font-size: 70px;
    color: white;
    margin-bottom: 10px;
    @media screen and (max-width: 780px) {
      font-size: 50px;
    }
    @media screen and (max-width: 600px) {
      font-size: 40px;
    }
    @media screen and (max-width: 420px) {
      font-size: 30px;
    }
  }
}
