@font-face {
  font-family: 'RedHatDisplay';
  font-display: swap;
  src: url('../fonts/RedHatDisplay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  font-display: swap;
  src: url('../fonts/RedHatDisplay-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HammersmithOne';
  font-display: swap;
  src: url('../fonts/HammersmithOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  font-display: swap;
  src: url('../fonts/BebasNeue-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
