.telefon {
  max-width: 120px;
  background-color: #ffae2b;
  padding: 10px;
  @media screen and (max-width: 600px) {
    max-width: 100px;
    padding: 5px 5px 7px 5px;
  }
  @media screen and (max-width: 420px) {
    max-width: 100px;
    padding: 3px 3px 7px 3px;
  }
  span {
    font-size: 22px;
    color: black;
    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }
  &:hover {
    background-color: #ff9e01;
    color: rgb(58, 58, 58);
  }
}
