.telefon {
  max-width: 120px;
  background-color: #ffae2b;
  padding: 10px;
  span {
    font-size: 22px;
    color: black;
  }
  &:hover {
    background-color: #ff9e01;
    color: rgb(58, 58, 58);
  }
}
