.photo-wedding {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 750px) {
    margin-top: 20px;
  }
  &__title {
    text-align: center;
  }
  &__body {
    margin-bottom: 50px;
  }
  &__tel {
    text-align: center;
    margin-bottom: 50px;
  }
}
